@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
body{
    margin: 0 0 0 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(13px, 15px, 10vw);
}

.container{
    display: grid;
    grid-template-columns: clamp(240px, 250px, 300px) 3fr;
    grid-template-rows: 1fr 10vh 1fr;
    
    background: rgb(54, 63, 73);

    height: 100vh;
}

.leftContainer{
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(20, 1fr);

    background-color: rgb(96, 109, 121);
    box-shadow: 0 5px 10px rgb(29, 27, 27);

}

.rightCont{
    display: flex;
    justify-content: center;
}

.leftContainer > *{
    padding: 0 0 0 20px;
}

.newBookDiv{
    grid-column: 1/3;
    grid-row: 1;
}

.newBook{
    font-size: 25px;
    font-weight: 800;
    text-shadow: 0 5px 5px rgb(80, 91, 102);
}

.titleDiv{
    padding: 0 0 0 20px;
    grid-column: 1/3;
    grid-row: 2;
}

.authorDiv{
    grid-column: 1/3;
    grid-row: 3;
}

.pagesDiv{
    grid-column: 1/3;
    grid-row: 4;
}

.readDiv{
    display: flex;
    align-items: center;
    grid-column: 1/3;
    grid-row: 5;
}




.formSubmit{
    grid-column: 1/3;
    grid-row: 6;

    margin: 0 0 0 20px;
    padding: 0 0 0 0;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;

    background-color: slategray;
    border: 1px solid white;
    border-radius: 5px;

    box-shadow: 0 2px 3px rgb(91, 103, 114);

    color: white;
}


.formSubmit:hover{
    background-color: rgb(162, 185, 209);
    cursor: pointer;
}


table{
    margin: 108px 0 0 20px;
    border: 1px solid white;
    border-radius: 5px;

    box-shadow: 0 5px 10px rgb(29, 27, 27);

}

td{
    height: 30px;
    margin: 5px;
    text-align: center;
    
}

th{
    background-color: rgb(40, 39, 48);
    text-align: center;
    padding: 10px;
    width: 200px;
    

}

input[type="text"], input[type="number"]{
    display: grid;
    background-color: slategrey;
    border: 1px solid white;
    border-radius: 5px;
    height: 20px;
    width: auto;
    color: white;
    padding: 0 0 0 10px;
    margin: 5px 0 5px 0;
    justify-self: left;
    width: auto;
}

input[type="text"]:active, input[type="number"]:active{
    border: 1px solid white;
    color: white;
}


input[type="text"]:valid{
    border: 1px solid white;
    background-color: slategray;
}



input[type="checkbox"]{

}

tr:nth-child(3), tr:nth-child(4) {
    width: 100px;
}

tr:nth-child(1), tr:nth-child(2) {
    text-align: left;
    padding: 0 0 0 5px;
}

.toggle{

    display:grid;

    justify-content: center;
    align-items: center;

    background: rgb(54, 63, 73);
    border: 1px solid rgb(54, 63, 73);
    width: 100%;
    height: 100%;

    color: white;
    font-size: 15px;
    padding: 0 0 0 -5px;
}

.toggle:hover{
    background-color: rgb(162, 185, 209);
    cursor: pointer;
}

.remove{
    display:grid;

    justify-content: center;
    align-items: center;

    background: rgb(54, 63, 73);
    border: 1px solid rgb(54, 63, 73);

    width: 100%;
    height: 100%;

    color: white;
    font-size: 15px;
}

.remove:hover{
    background-color: rgb(162, 185, 209);
    cursor: pointer;
}